################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QNA_App/obj/Debug
/QNA_App/bin
